@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat:wght@500&display=swap');

.menu {
  display: flex;
  gap: 35px;
}

.menu__item {
  color: #0063b2;
  font-size: 22px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  transition: color 0.6s;
}

.menu__item:last-child {
  padding-right: 25px;
}

.menu__item:hover {
  color: #9bd8f2;
}
