.copy {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  font-family: 'Lato', sans-serif;
  padding: 22px 0;
  text-align: center;
  letter-spacing: 0.1em;
  background-color: #14202d;
}
